
.detail-cotainer {
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 5%;
}

h2 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    font-weight: lighter;
    margin-bottom: 2%;
}

.label-id label {
    font-family: Arial, Helvetica, sans-serif;    
}

.hero-name label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #264d73;
}

.hero-name input {
    margin-left: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    color: #264d73;
    border: #fff;
    border-radius: 5px;
    padding: 12px;
}

.buttons button:hover {
    color: #fff;
    background-color: #264d73;
}

@media only screen and (max-width : 600px) {

    .detail-cotainer {
        margin-left: 1%;
        margin-right: 1%;   
        margin-top: 5%;     
    }
}